doctype html
html(lang='en' ng-app='SD-data')
	head
		title Slickdeals Data
		link(href='bower_components/bootstrap/bootstrap.min.css', rel='stylesheet')

	block content

	script(src='bower_components/jquery/jquery.min.js')
	script(src='bower_components/angular/angular.min.js')
	script(src='bower_components/angular-google-chart/ng-google-chart.js')
	script(src='bower_components/angular-ui-router/release/angular-ui-router.min.js')
	script(src='bower_components/bootstrap/bootstrap.min.js')

	script(src='js/app.js')

	// Library from CDN
	script(src='http://www.google.com/jsapi')